<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingdao.marathon.user.mapper.MatchMapper">
	<resultMap id="BaseResultMap" type="com.qingdao.marathon.user.model.MatchInfo">
		<id column="matchId" property="matchId" jdbcType="INTEGER" />
		<result column="matchName" property="matchName" jdbcType="VARCHAR" />
		<result column="startTime" property="startTime" jdbcType="TIMESTAMP" />
		<result column="regDeadline" property="regDeadline" jdbcType="TIMESTAMP" />
		<result column="state" property="state" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		matchId, matchName, startTime, regDeadline, state
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from `match`
		where matchId = #{matchId,jdbcType=INTEGER}
	</select>
	
	<select id="queryList" resultMap="BaseResultMap">
		select * from `match` where 1=1 
		<if test="type != null">
			and regDeadline > now() and state='0'
		</if>
		
	</select>
</mapper>